# Ignore virtual environments
.venv/
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs and system files
*.log
.DS_Store

# Ignore data folder
data/

# Environment files
.env

# Keep the trained model (needed for deployment)
!models/best_model.pth

